@page
@model SimpleMemoryCache.Pages.Index.IndexModel
@{
    Layout = "_Layout";
}

<ul>
    <li>Current Time: @Model.CurrentDateTime</li>
    <li>Current Cache Time: @Model.CacheCurrentDateTime</li>
</ul>
