@page
@{
    Layout = null;
    ViewData["Title"] = "Admin Login";
}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewData["Title"]</title>
        <style>
            .yellow-red {
                color: red;
            }
        </style>
    </head>
    <body>
        <p class="yellow-red">This is @ViewData["Title"] page</p>
    </body>
</html>